@charset "UTF-8";

body {
  font-family: "Helvetica", sans-serif;
  color: #000;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3, h4, h6 {
  font-family: "Helvetica", sans-serif;
}

 
  
/*udsmlogo image*/
img{
  width: 70px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;   
  }




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #0864af;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 130px;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align-last: center;
  font-family: "Helvetica", sans-serif;
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}


#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }
  #main {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
# Admin Panel
--------------------------------------------------------------*/
.admin-values{
  color: #000;
  text-align: center;
}
.count-yellow{
  color: #f6b418;
  text-align: center;
}
.admin-values img{
  width: 90%;
  text-align: center;
}
div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
td .fa{
  color: #000;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.admin-nav a{
  color: #ffffff;
}
.admin-nav a:hover{
  color: #f6b418;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  color: #f6b418;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.user{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/coict.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Helvetica", sans-serif;  
  margin-left: 350px;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #0864af;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1180px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    margin-left: 25px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 25px;
  }
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-left: 25px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #fff;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
  color: #000;
}

.section-title h2::after {
  content: '';
  position: inherit;
  display: block;
  width: 30px;
  height: 3px;
  background: #0864af;
  bottom: 0;
  left: 50%;
}

.section-title h3 {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #000; 
  margin-bottom: 5px;
  
}


.section-title p {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  margin-bottom: 20px;
}

.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #f6b418;
  border-radius: 50%;
  transition: 0.5s;;
}

.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.services .icon-box:hover .icon {
  background: #0864af;
}


.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .title a {
  color: #000;
}

.services .title a:hover {
  color: #f6b418;
}

.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
